<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Chat</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1>{{.Group.Name}}</h1>
        {{range .Messages}}
            <b>{{.SentBy.Name}}</b>: {{.Content}}
            <br>
        {{end}}
        <br>
        <form method="post">
            <input name="message" placeholder="Type your message here">
            <button type="submit">Send</button>
        </form>
        <b>{{.Group.ErrorMessage}}</b>
    </body>
</html>