<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Chat</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1>Welcome {{.User.Name}}</h1>
        <a href="/relay">Relays</a>
        <h1>Groups</h1>
        <ul>
            {{range .Groups}}
            <li>
                <a href="/group/{{.UUID}}">{{.Name}}</a>
            </li>
            {{end}}
        </ul>
        <h2>Search for Groups</h2>
        <form method="post" id="group_search">
            <label for="group_search_name">Group Name</label>
            <br>
            <input id="group_search_name" name="name" placeholder="Group name" type="text">
            <br>
            <br>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>